.desktop-navigation {
    height: 100px;
    padding: 24px 0;

    @media(max-width: $breakpoint-lg) {
        display: none;
    }
}

.desktop-navigation__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-navigation__text {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 22px;
    font-size: 16px;

    p {
        font-family: "Archivo black", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 32px;
    }
}

.desktop-navigation__list {
    display: flex;
    gap: 24px;
}

.desktop-navigation__buttons {
    display: flex;
    gap: 20px;
}