$base-color: black;
$black-10: rgba(0, 0, 0, 0.1);
$black-60: rgba(0, 0, 0, 0.6);
$background-gray: #F0F0F0;
$background-promo: #F2F0F1;
$white: white;


$container-sm: 390px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1240px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1440px;